
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#77748a
  
}

.button-container{
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px  
 
}

button{
  cursor: pointer;
  border-radius: 7px;
  width: 120px;
  height: 75px;
  font-family: Goldman, sans-serif;
  font-size: 28px;
  color: white;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #696969, #575757);
  border: 2px solid black;
  box-shadow: inset 0 20px 4px -19px;
}

button:hover{
  background: linear-gradient(to bottom, #696969, #575757);
}

button:active{
  transform: translateY(2px);
  box-shadow: inset 0 6px 6px -20px;
}
